.btn-1 {
  background-color: #ed3833;
  padding: 8px 8px;
  border-radius: 3px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  height: 48px;
  width: 170px;
  color: white;
  margin: 10px 0px;
  transition: 2s opacity, 2s border, 1s background-color;
}
.btn-2 {
  padding: 8px 8px;
  border-radius: 3px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border: 2px solid rgb(125, 125, 125);
  height: 48px;
  margin: 10px 0px;
  width: 170px;
}
.btn-1:hover {
  opacity: 0.7;
  background-color: #333333;
  border: 2px solid rgb(125, 125, 125);
}
.fonts {
  color: #f07867;
  font-size: 20px;
  font-family: sans-serif;
}
.headings1 {
  font-family: "Sulphur Point";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;

  color: #333333;
}
.para1 {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  /* or 160% */
  color: #333333;
}

.projectBg {
  width: 80%;
  height: 400px;
  /* margin: 0 auto; */
  position: relative;
  border-radius: 3px;
}

.projectInfo {
  display: none;
  position: absolute;
  top: 50%;
  left: 35%;
  z-index: 30px;
}

.projectBg:hover .projectInfo {
  display: flex;
  gap: 10px;
}

.projectInfo a {
  padding: 10px;
  font-weight: 700;
  color: white;
  border-radius: 10px;
  background-color: rgb(6, 132, 132);
  width: 70px;

  transition: 2s background-color;
}

.projectInfo a:hover {
  background-color: #ed3833;
  border: none;
}
