.btn-1 {
  background-color: #ed3833;
  padding: 8px 8px;
  border-radius: 3px;
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  height: 48px;
  width: 170px;
  color: white;

}
.btn-2{
    padding: 8px 8px;
    border-radius: 3px;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border: 2px solid rgb(125, 125, 125);
    height: 48px;
    width: 170px;

}
.fonts{
    color: 
    #F07867;
    
}
.headings1{
font-family: 'Sulphur Point';
font-style: normal;
font-weight: 700;
font-size: 36px;
/* position: absolute; */
/* left: 835px;
top: 1152px; */
/* line-height: 64px; */

color: #333333;
}
.para1{
    font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
/* or 160% */
color: #333333;
}
